<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BorrowBuddy">

        <!-- ================= SPLASH ================= -->

        <activity
            android:name=".SplashActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <!-- ================= CHOOSE ROLE ================= -->

        <activity
            android:name=".ChooseRoleActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />


        <!-- ================= USER LOGIN ================= -->

        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <activity
            android:name=".UserHomeActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />


        <!-- ================= OWNER LOGIN ================= -->

        <activity
            android:name=".OwnerLoginActivity"
            android:exported="false" />

        <activity
            android:name=".OwnerHomeActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />


        <!-- ================= ADMIN LOGIN ================= -->

        <activity
            android:name=".AdminLoginActivity"
            android:exported="false" />

        <activity
            android:name=".AdminHomeActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />


        <!-- ================= COMMON AUTHENTICATION ================= -->

        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />

        <activity
            android:name=".CreateNewPasswordActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".OTPActivity"
            android:exported="false" />


        <!-- ================= PROFILE ================= -->

        <activity
            android:name=".MyProfileActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />


        <!-- ================= FRIEND'S OWNER MODULE ================= -->

        <activity
            android:name=".activities.TermsActivity"
            android:exported="false" />

        <activity
            android:name=".activities.OwnerProfileActivity"
            android:exported="false" />

        <activity
            android:name=".activities.EditOwnerProfileActivity"
            android:exported="false" />

        <activity
            android:name=".activities.ChangePasswordActivity"
            android:exported="false" />

        <activity
            android:name=".activities.MyItemRequestsActivity"
            android:exported="false" />

        <activity
            android:name=".activities.HelpSupportActivity"
            android:exported="false" />

        <activity
            android:name=".activities.RatingsReviewsActivity"
            android:exported="false" />

        <activity
            android:name=".activities.OwnerDashboardActivity"
            android:exported="false" />

    </application>

</manifest>